<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monopoly.domke.sebastian.monopoly">

    <uses-permission android:required="true" android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:required="true" android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.monopoly.domke.sebastian.monopoly.view.MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.monopoly.domke.sebastian.monopoly.view.NeuesSpielActivity"
            android:label="@string/title_activity_neues_spiel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.monopoly.domke.sebastian.monopoly.view.SpielBeitretenActivity"
            android:label="@string/title_activity_spiel_beitreten"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.monopoly.domke.sebastian.monopoly.view.HighscoreActivity"
            android:label="@string/title_activity_highscore"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.monopoly.domke.sebastian.monopoly.view.SpielStartActivity"
            android:label="@string/title_activity_spiel_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.monopoly.domke.sebastian.monopoly.view.SpielLadenActivity"
            android:label="@string/title_activity_spiel_laden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.monopoly.domke.sebastian.monopoly.view.EinstellungenActivity"
            android:label="@string/title_activity_einstellungen"></activity>
    </application>

</manifest>